@charset "utf-8";
/* CSS Document */
body {
	font-size: 15px;
}
a {
	text-decoration: none;
	color: #1facee;
}
h2 {
	padding-bottom: 5px;
	border-bottom: 1px dashed #ccc;
}
#header, #mainbody, #siderbar {
	margin-bottom: 20px;
}
/*toolbar css
---------------------------------------------------------------------------------*/
#toolbar {
	background-color: #000;
	height: 25px;
	padding: 5px 0;
	text-align: right;
}
.toolbar-menu {
	float: right;
	font-size: 13px;
}
.toolbar-menu li {
	list-style-type: none;
	float: left;
	width: 45px;
	margin: 0 15px;
}
.toolbar-menu a {
	color: #ccc;
}

/* header css
---------------------------------------------------------------------------------*/
#header {
	height: 391px;
	background: url(../img/header-bg.jpg) no-repeat center 0;
}
.logo {
	margin: 20px 0 20px 15px;
}
.navigation li {
	list-style-type: none;
	margin-bottom: 10px;
	margin-left: 15px;
}
.navigation a {
	color: #f8f8f8;
	background-color: #000;
	padding: 5px 10px;
}
.navigation a:hover {
	background-color: #4ac5ff;
}

/* mainbody css
---------------------------------------------------------------------------------*/
.pic {
	margin-bottom: 10px;
}
.block {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
}

/* siderbar css
---------------------------------------------------------------------------------*/
#siderbar li, #footer li {
	background:url(../img/dot.png) no-repeat left center;
	list-style-type: none;
	padding-left: 20px;
	margin-left: 10px;
}
/* footer css
---------------------------------------------------------------------------------*/
#footer {
	border-top: 2px solid #dbdbdb;
	padding-top: 20;
}
#footer a {
	color: #999;
}